#siteWrapper .product-list[data-nav-and-filters-position="sidebar"] {
  --gap: 1.5vw;
  row-gap: 10px!important;
  column-gap: 0!important;
}

/* Move Side Categories above grid on desktop  */
@media screen and (min-width: 768px) {
   #siteWrapper .product-list[data-nav-and-filters-position="sidebar"] .product-list-nav-and-filters {
      grid-area: product-list-result-count-container;
      max-width: 100%!important;
    }
    
    /* Invisible placeholder so products list result count stays below the categories */
       #siteWrapper .product-list[data-nav-and-filters-position="sidebar"] .product-list-nav-and-filters:after {
      content: 'Products';
      opacity: 0;
      visibility: hidden;
    }
    
    /* Align Counter to left (Squarespace default) */
    #siteWrapper .product-list[data-nav-and-filters-position="sidebar"] .product-list-result-count-container {
      align-self: end;
      justify-content: start;
    }
  }

/* Ul Styling */
#siteWrapper .product-list[data-nav-and-filters-position="sidebar"] .nested-category-tree-wrapper ul {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: start;
  position: relative;
  row-gap: var(--gap);
  padding: 0;
  margin: 10px 0;
}

/* Allows Dividers next to Links */
#siteWrapper .product-list[data-nav-and-filters-position="sidebar"] .nested-category-tree-wrapper .category-item {
  display: flex;
}

/* Hide Nested Navigation */
#siteWrapper .product-list[data-nav-and-filters-position="sidebar"] .nested-category-tree-wrapper .category-item ul {
  display: none;
}

/* Link Styling */
#siteWrapper .product-list[data-nav-and-filters-position="sidebar"] .nested-category-tree-wrapper .category-item a {
  display: inline-block;
  margin-right: var(--gap);
  padding: 0!important;
}

/* No Space After Last Link */
#siteWrapper .product-list[data-nav-and-filters-position="sidebar"] .nested-category-tree-wrapper .category-item:last-child a {
  margin-right: 0;
}

/* Link Divider */
#siteWrapper .product-list[data-nav-and-filters-position="sidebar"] .nested-category-tree-wrapper .category-item:not(:last-child):after {
  content: '|';
  opacity: 0.2;
  margin-right: var(--gap);
}

/* Alignment Center */
#siteWrapper .product-list[data-nav-and-filters-position="sidebar"][data-header-text-alignment="center"] :is(ul,.nested-category-breadcrumb, .nested-category-title) {
  justify-content: center;
  text-align: center;
}

/* Alignment Right */
#siteWrapper .product-list[data-nav-and-filters-position="sidebar"][data-header-text-alignment="right"] :is(ul,.nested-category-breadcrumb, .nested-category-title) {
  justify-content: right;
  text-align: right;
}
