#siteWrapper .product-list[data-nav-and-filters-position="sidebar"] {
  --gap: 1.7vw;
  --catSpacing: clamp(15px, var(--gap), 40px);
  row-gap: 10px!important;
  column-gap: 0!important;
}

/* Move Side Categories above grid on desktop  */
@media screen and (min-width: 768px) {
  #siteWrapper [data-is-plp-separate-categories-enabled="true"].product-list[data-nav-and-filters-position="sidebar"] {
     grid-template-areas: 
       "product-list-header product-list-header"
       "product-list-result-count-container product-list-result-count-container"
       "product-list-category-subnav-container product-list-category-subnav-container"
       "product-list-category-select-container product-list-category-select-container"
       "product-list-filters-container product-list-filters-container"
       "product-list-filters-drawer-open-button-container product-list-filters-drawer-open-button-container"
       "product-list-container product-list-container"
       "product-list-pagination product-list-pagination";
  }
  #siteWrapper .product-list-header:not(:has(*)) {
    margin-bottom: 0!important;
  }
   #siteWrapper .product-list[data-nav-and-filters-position="sidebar"] .product-list-nav-and-filters {
      grid-area: product-list-result-count-container;
      max-width: 100%!important;
    }
    
    /* Invisible placeholder so products list result count stays below the categories */
       #siteWrapper .product-list[data-nav-and-filters-position="sidebar"] .product-list-nav-and-filters:after {
         content: 'Products'; 
         opacity: 0; 
         visibility: hidden;
         display: none;
    }
    
    /* Align Counter to left (Squarespace default) */
    #siteWrapper .product-list[data-nav-and-filters-position="sidebar"] .product-list-result-count-container {
      align-self: end;
      justify-content: start;
    }
  }

/* Space Beneath Links on Mobile */
#siteWrapper .product-list[data-nav-and-filters-position="sidebar"] .nested-category-tree-wrapper {
  padding-bottom: 5px;
}

/* Ul Styling */
#siteWrapper .product-list[data-nav-and-filters-position="sidebar"] .nested-category-tree-wrapper ul {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: start;
  position: relative;
  row-gap: var(--catSpacing);
  padding: 0;
  margin: 10px 0;
}

/* Allows Dividers next to Links */
#siteWrapper .product-list[data-nav-and-filters-position="sidebar"] .nested-category-tree-wrapper .category-item {
  display: flex;
}

/* Hide Nested Navigation */
#siteWrapper .product-list[data-nav-and-filters-position="sidebar"] .nested-category-tree-wrapper .category-item ul {
  display: none;
}

/* Link Styling */
#siteWrapper .product-list[data-nav-and-filters-position="sidebar"] .nested-category-tree-wrapper .category-item a {
  display: inline-block;
  margin-right: var(--catSpacing);
  padding: 0!important;
}

/* No Space After Last Link */
#siteWrapper .product-list[data-nav-and-filters-position="sidebar"] .nested-category-tree-wrapper .category-item:last-child a {
  margin-right: 0;
}

/* Link Divider */
#siteWrapper .product-list[data-nav-and-filters-position="sidebar"] .nested-category-tree-wrapper .category-item:not(:last-child):after {
  content: '|';
  opacity: 0.2;
  margin-right: var(--catSpacing);
}

/* Alignment Center */
#siteWrapper .product-list[data-nav-and-filters-position="sidebar"][data-header-text-alignment="center"] :is(ul,.nested-category-breadcrumb, .nested-category-title) {
  justify-content: center;
  text-align: center;
}

/* Alignment Right */
#siteWrapper .product-list[data-nav-and-filters-position="sidebar"][data-header-text-alignment="right"] :is(ul,.nested-category-breadcrumb, .nested-category-title) {
  justify-content: right;
  text-align: right;
}

/* Mobile Underline Styling */
#siteWrapper .product-list-nav hr {
  opacity: .3;
}

/* Hide Filter Button and Count */
#siteWrapper .product-list-category-select-container {
  display: none !important;
}

/* Show category links on mobile */
@media screen and (max-width: 767px) {
    #siteWrapper [data-is-plp-separate-categories-enabled="true"].product-list .product-list-category-subnav-container, #siteWrapper .product-list .product-list-category-subnav-container .product-list-nav {
        display: block!important;
    }
}
